table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

button {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

